/******************
IMPORT
******************/
/******************
animaciones
******************/
/******************
buttons
******************/
.btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%); }

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block; }

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none; }

/******************
 links
******************/
a {
  position: relative;
  text-decoration: none;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10pX; }

a:after {
  content: "";
  position: absolute;
  background-color: #ed213a;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s; }

a:hover:after {
  width: 100%; }

.bg--color {
  background-color: #252627; }

.bg--color--section {
  background-color: #8a9399;
  color: #000000;
  width: auto; }

.bg--article {
  background-color: #343537;
  color: #8a9399; }

.bg-color--nav {
  background-color: black; }

.icon-service {
  --box-size: 70px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
  background: #ED213A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
